body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1, p {
    padding: 0 7px 0 7px;
}

footer, header, body, article {
    margin: 3px;
    padding: 2px;
}

article > h1 {
    color: darkgreen;
    border: 1px solid darkcyan;
}

footer {
    color: darkgray;
    border-top: 1px solid darkgray;
}
.error {
    color: red;
}

.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.story {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}
