<HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/login-style.css">
</head>
<body>
    <div class="container">
    <h1>Login</h1>

    <form method="post" action="/login">

    <% unless @error.nil? %>
        <p><strong class="error"><%= @error %></strong></p>
    <% end %>

    <p>Username: <br /><input type="text" name="username" value="<%= h @username %>"/></p>

    <p>Password: <br /><input type="password" name="password" value="<%= h @password %>" /></p>

    <p><input type="submit" value="Submit"></p>

    <p>Dont have an account? <a href="/create-account">Create one here.</a><p>

    </form>
    </div>
    <p><%= @database %></p>
<body>
</HTML>