<%= erb :"common/header" %>

<h1 class = "title"><%= @myTitle %></h1>

  <main>
    <section class="campaign">
      <h2>Campaign 1</h2>
      <p>Description of Campaign 1.</p>
      <a href="#">Learn More</a>
    </section>

    <section class="campaign">
      <h2>Campaign 2</h2>
      <p>Description of Campaign 2.</p>
      <a href="#">Learn More</a>
    </section>

    <section class="campaign">
      <h2>Campaign 3</h2>
      <p>Description of Campaign 3.</p>
      <a href="#">Learn More</a>
    </section>

  </main>
<%= erb :"common/footer" %>
