<% myTitle = "Story" %>
<%= erb :"common/header" %>

  <h1 class = "title"><%= myTitle %></h1>

  <main>
    <section class="story">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lectus eu tellus fermentum, 
       id dapibus quam convallis. Suspendisse potenti. Nullam rutrum felis sed tellus blandit, et 
       tincidunt dui consequat. Integer vel massa eget nulla scelerisque tristique id eu magna. Nulla 
       facilisi. Praesent rhoncus malesuada elit, vel vestibulum neque aliquet ut. Donec feugiat dolor id 
       sem fermentum, a iaculis enim posuere. Sed in turpis vel magna vestibulum efficitur vel non erat. 
       Mauris auctor, libero nec varius vestibulum, nisl nulla pellentesque mi, ut congue ipsum justo ut 
       libero. Phasellus quis metus nec turpis pharetra vehicula. Ut gravida diam ut eros interdum, nec 
       euismod sapien egestas. Nam ac viverra odio.</p>
    </section>

  </main>
<%= erb :"common/footer" %>
