<% myTitle = "Store" %>
<%= erb :"common/header" %>
  <main>
    <section class="product">
      <h2>Product 1</h2>
      <p>Description of Product 1.</p>
      <p>Price: $19.99</p>
      <button>Add to Cart</button>
    </section>

    <section class="product">
      <h2>Product 2</h2>
      <p>Description of Product 2.</p>
      <p>Price: $24.99</p>
      <button>Add to Cart</button>
    </section>

  </main>
<%= erb :"common/footer" %>
