<% myTitle = "Store" %>
<%= erb :"common/header" %>

  <div class = "flexbox">
    <h1 class = "title"><%= myTitle %></h1>
    <a href = "/payment" class = "searchimg"><img src="/images/shoppingcart.png"></a>
  </div>
  <main>
    <section class="product">
      <h2>1000 Popcorns</h2>
      <p>Cheapest Deal!</p>
      <p>Price: $19.99</p>
      <input type="button" value="Add to cart">
    </section>

    <section class="product">
      <h2>2000 Popcorns</h2>
      <p>Best Deal!</p>
      <p>Price: $24.99</p>
      <input type="submit" value="Add to cart">
    </section>

  </main>
<%= erb :"common/footer" %>
