<% myTitle = "Story Stats" %>
<%= erb :"common/header" %>
  <main>
    <section class="stats">
      <h2>Story Title</h2>
      <ul>
        <li>Word Count: 1000</li>
        <li>Reading Time: 5 minutes</li>
        <li>Published Date: January 1, 2024</li>
        <li>Author: John Doe</li>
        <li>Genre: Fiction</li>
        <li>Rating: 4.5/5</li>
        <li>Number of Readers: 176</li>
      </ul>
    </section>

  </main>
<%= erb :"common/footer" %>
