<%= erb :"common/header" %>

  <div class="flexrow">
    <div></div>
    <h1 class = "title"><%= @myTitle %></h1>
    <a href = "/payment" class="shoppingcart"><img src="/images/shoppingcart.png"></a>
  </div>

  <main>
    <section>
      <h2>1000 Popcorns</h2>
      <p>Cheapest Deal!</p>
      <p>Price: 4.99 COM_pounds</p>
      <form method="post" action="/additem/1000 Popcorns">
        <input type="submit" value="Add to cart">
      </form>
    </section>

    <section>
      <h2>2000 Popcorns</h2>
      <p>Best Deal!</p>
      <p>Price: 8.99 COM_pounds</p>
      <form method="post" action="/additem/2000 Popcorns">
        <input type="submit" value="Add to cart">
      </form>
    </section>

    <section>
      <h2>5000 Popcorns</h2>
      <p>Best Deal!</p>
      <p>Price: 14.99 COM_pounds</p>
      <form method="post" action="/additem/5000 Popcorns">
        <input type="submit" value="Add to cart">
      </form>
    </section>

    <section>
      <h2>1 Month Subscription</h2>
      <p>Best Deal!</p>
      <p>Price: 9.99 COM_pounds</p>
      <form method="post" action="/additem/1 Month Subscription">
        <input type="submit" value="Add to cart">
      </form>
    </section>

    <section>
      <h2>3 Month Subscription</h2>
      <p>Best Deal!</p>
      <p>Price: 19.99 COM_pounds</p>
      <form method="post" action="/additem/3 Month Subscription">
        <input type="submit" value="Add to cart">
      </form>
    </section>

    <section>
      <h2>12 Month Subscription</h2>
      <p>Best Deal!</p>
      <p>Price: 39.99 COM_pounds</p>
      <form method="post" action="/additem/12 Month Subscription">
        <input type="submit" value="Add to cart">
      </form>
    </section>

  </main>
<%= erb :"common/footer" %>
