<html lang="en">
  <head>
    <title><%= @myTitle %></title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <header>

        <%# img src="images/peak-district-prose-logo.png" width="30%" %>

        <a href="/"><img src="images/peak-district-prose-logo.png" width="50"/></a>

            <nav>
              <ul class="ul_org">
                <li><a href="/">Home</a><li>
                <% if session["logged_in"] %>
                    <li><a href="/store">Store</a><li>
                    <li><a href="/promotions">Promotional Campaigns</a><li>
                    <% if session["type"].eql?("writer") || session["type"].eql?("admin")|| session["type"].eql?("manager") %>
                        <li><a href="/create-story">Create new story</a></li>
                    <% end %>
                    <% if session["type"].eql?("admin") || session["type"].eql?("manager")%>
                        <li><a href="/staff-actions">Staff Actions</a></li>
                    <% end %>
                    <li><a href="/account-settings">Account Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% else %>
                    <li><a href="/login">Login</a></li>
                <% end %>
              </ul>
            </nav>
        <div class="search-bar">
          <form method="post" action="/search">
            <input type="text" placeholder="Search stories..." name="q">
            <button type="submit"><img src="images/searchbar.png" class="searchimg"></button>
          </form>
        </div>
    </header>
