<html lang="en">
  <head>
    <title><%= myTitle %></title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <header>
        <img src="images/peak-district-prose-logo.png" width="50"/>
        <h1><%= myTitle %> working on it</h1>
    </header>
